.phpactor.json
/.fleet
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/public/storage
/storage/pail
Homestead.json
Homestead.yaml

# Ignore dependencies
/vendor
/node_modules

# Environment files
.env
.env.*
!.env.example

# Laravel caches
/bootstrap/cache/*.php
/bootstrap/cache/packages.php
/bootstrap/cache/services.php

# Storage
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*

# Public build assets
/public/build
/public/hot

# Composer
/composer.phar

# PHPUnit
.phpunit.result.cache

# Pest
.pest.cache

# NPM
npm-debug.log
yarn-error.log
pnpm-debug.log

# IDE
/.idea
/.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Laravel Herd / Valet
/.herd
/.valet

# Temporary files
*.log
*.tmp
*.bak
