/*!
 * Common CSS files
 */
* {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: 'Roboto', sans-serif;
	color: #5b5b5b;
}
.contentContainer {
	padding: 150px 0 150px 0;
}
.contentContainer02 {
	padding: 120px 0 0px 0;
}
.imgResponsive {
	width: 75%;
}
a:hover {
	color: inherit;
	text-decoration: none;
}
.middleContentOuter {
	display: flex;
	align-items: center;
	height: 100%;
}
.verticalMiddle {
	width: 100%;
}
.text-black {
	color: #282828;
}
.marginAuto {
	margin: 0px auto;
}
.borderBottom {
	padding-bottom: 11px;
	border-bottom: 1px solid #fef5f5;
}
b, strong {
	font-weight: 500;
}
/*----------------------------- Heading & Buttons ------------------------------------------*/
h2 {
	font-size: 28px;
	font-weight: 500;
	padding: 0 0 0px 0;
	font-family: 'Raleway', sans-serif;
}
h4 {
	font-size: 21px;
}
p {
	font-size: 16px;
	line-height: 28px;
	margin-bottom: 15px;
}
p.small {
	font-size: 17px;
	line-height: 24px;
	font-weight: 500;
}
p.small02 {
	font-size: 14px;
	line-height: 22px;
	font-weight: 500;
	padding: 10px 0;
}
.listing01 {
	margin: 0 0 10px 0;
}
.listing01 li {
	font-size: 16px;
	line-height: 26px;
	list-style-type: none;
	padding: 5px 0 12px 44px;
	background: url(../images/icons/list-icon.png) no-repeat 11px 11px;
}
.listing02 {
	margin: 0 0 10px 0;
}
.listing02 li {
	font-size: 16px;
	line-height: 25px;
	list-style-type: none;
	padding: 17px 0 15px 35px;
	background: url(../images/icons/tick.png) no-repeat 2px 24px;
	border-bottom: 1px solid #fef5f5
}
ul.listing02 li:last-child {
	border-bottom: 0px solid #fef5f5!important;
}
.listing02 li a {
	font-size: 18px;
	font-weight: 500;
}
.custom-btn1 {
	color: #ffffff;
	font-size: 15px;
	display: inline-block;
	padding: 12px 23px 12px 23px;
	text-decoration: none;
	border: none;
	border-radius: 100px;
}
.transparent-btn {
	color: #262626;
	background: none !important;
}
/*----------------------------- Navigation Block ------------------------------------------*/
header {
	padding: 18px 0 0 0;
}
.logo {
	max-width: 342px;
}
header .custom-btn1 {
	margin-left: 7px;
}
.navbar {
	padding: 0px;
	margin-top: 18px;
}
a.nav-link {
	font-size: 17px;
	color: #ffffff;
	padding: 19px 36px 19px 35px!important;
	text-transform: uppercase;
	font-weight: 500;
}
.col-lg-7.col-md-6.text-right {
    margin-top: 2rem;
}
/*----------------------------- Banner Block ------------------------------------------*/
.homeBanner {
	background-size: cover;
	padding: 80px 0 80px 0;
	position: relative;
}
.homeBanner h1 {
	font-size: 54px;
	color: #000000;
	font-weight: 600;
	margin: 0px;
	line-height: 60px;
	font-family: 'Raleway', sans-serif;
}
.homeBanner p {
	font-size: 17px;
	color: #ffffff;
	line-height: 28px;
	padding: 0 0 0 20px;
	border-left: 2px solid #c1792c;
	margin: 21px 0 0 3px;
}
.homeBanner .smallHeading {
	font-size: 42px;
	font-weight: 500;
	color: #e62d29;
	font-family: 'Raleway', sans-serif;
}
.bannerThumb {
	float: right;
}
.bannerThumb img {
	width: 100%;
	max-width: 548px;
}
.innerBanner {
	text-align: center;
}
.innerBanner p {
	border-left: 0px solid #c1792c;
}
.bannerButton {
	margin-top: 27px;
}
/*----------------------------- Call To Actions ------------------------------------------*/
.callToAction {
	background-size: cover;
	padding: 120px 0 126px 0;
}
.callToAction p {
	font-size: 30px;
	font-weight: 500;
	padding: 0 25px;
	line-height: 37px;
}
.ctaButton {
	font-size: 23px;
	margin-top: 7px;
}
.callToAction02 {
	font-size: 45px;
	font-weight: 500;
	padding: 90px 0 96px 0;
	border-bottom: 2px solid rgba(255, 255, 255, .1);
}
.ctaSmallHeading {
	font-size: 21px;
	padding: 10px 0 15px 0;
}
.ctaButton02 {
	font-size: 18px;
	background: none;
	font-weight: 500;
	border: 1px solid rgba(255, 255, 255, 1);
	padding: 14px 30px 14px 30px;
	color: #ffffff;
}
/*----------------------------- Content Block ------------------------------------------*/
.contentBlock {
	margin-top: 235px;
}
.imageThumb img {
	width: 100%;
	max-width: 519px;
}
#accordion .card {
	background: none;
	border-radius: 0px;
	padding: 0 0 8px 0;
	border: none;
	border-bottom: 2px solid rgba(255, 255, 255, .1);
}
#accordion .card-header {
	background: none;
	border: none;
	padding: 19px 0 12px 0;
	font-size: 22px;
	color: #ffffff;
	font-weight: 600;
}
#accordion .card-header a {
	color: #ffffff;
	padding: 0 0 0 70px;
	background: url(../images/icons/arrow-down.png) no-repeat 20px 8px;
	font-family: 'Raleway', sans-serif;
}
#accordion .card-header a.collapsed {
	background: url(../images/icons/arrow-up.png) no-repeat 20px 8px;
}
#accordion .card-body {
	padding: 0 20px 0 70px;
}
#accordion .card-body p {
	color: #282828;
}
#accordion div:last-child {
	border-bottom: 0px solid rgba(255, 255, 255, .1);
}
/*----------------------------- Footer ------------------------------------------*/
footer {
	font-size: 16px;
	color: #5b5b5b;
}
footer li {
	list-style-type: none;
	margin-bottom: 12px;
	font-size: 16px;
	line-height: 22px;
}
footer li a {
	color: #5b5b5b;
}
.socialMediaIcon {
	margin-top: 21px;
}
.socialMediaIcon .socialIcon {
	color: #ffffff;
	font-size: 22px;
	margin-right: 1px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: inline-block;
	text-align: center;
	padding-top: 8px;
}
.footerContent {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	padding: 37px 0 18px 0;
}
.copyRight {
	opacity: 1;
	font-size: 14px;
	padding: 15px 0;
	color: #ffffff;
}
.copyright-text {
	font-size: 8px;
	font-weight: 800;
	padding-top: 12px;
}
/*----------------------------- Features Content ------------------------------------------*/
.featureBlock {
	margin-bottom: 190px;
}
.featureContentRight {
	padding-left: 120px;
}
.featureContentLeft {
	padding-right: 120px;
}
.featureBlock.last {
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: 0px solid #fef5f5;
}
/*----------------------------- Pricing Content ------------------------------------------*/
.pricingList {
	padding: 47px 0 0 0;
}
.col-Block {
	width: 20% !important;
	padding: 0px 15px;
}
.priceBlock {
	margin-bottom: 30px;
}
.priceBlock h2 {
	padding: 10px 0px;
	font-size: 30px;
	line-height: 42px;
	font-family: 'Roboto', sans-serif;
}
.priceBlock h2.smallHeading {
	font-size: 19px;
	line-height: 21px;
}
.priceBlockContent {
	padding: 25px 10px 24px 10px;
}
.priceBlock p {
	padding: 0px;
	font-weight: 500;
	margin: 0 0 7px 0;
	line-height: 21px;
	font-size: 16px;
}
.priceBlock h4 {
	font-size: 22px;
	font-weight: 500;
	margin: 0px;
	line-height: 23px;
	padding-bottom: 14px;
}
.priceBlock hr {
	width: 84%;
	height: 1px;
	margin: 7px auto 12px auto;
	border-color: #fef5f5;
}
/*----------------------------- Form Pages Content ------------------------------------------*/
.signUpButton {
	display: block;
	color: #ffffff;
	font-size: 21px;
	font-weight: 500;
	padding: 17px 0 18px 0;
}
.contactForm {
	padding-top: 36px;
}
.createAccount {
	margin: 30px 0 0 0;
	padding: 34px 0 0 0;
	border-top: 1px solid #fef5f5;
	font-size: 17px;
	font-weight: 500;
}
.contactForm input, .contactForm select, .contactForm textarea {
	background-color: #fdfdfd;
	width: 100%;
	border: 1px solid #ededed;
	font-size: 17px;
	height: 53px;
	line-height: 53px;
	padding: 0 12px;
	margin-bottom: 30px;
	color: #747474;
}
.contactForm textarea {
	padding: 12px;
	height: 210px;
	line-height: 25px;
}
.contactForm select {
	border-radius: 0px;
}
.contactForm .submitButton {
	width: auto;
	height: auto;
	color: #ffffff;
	font-size: 17px;
	display: inline-block;
	line-height: normal;
	padding: 13px 28px 14px 28px;
	text-decoration: none;
	border: none;
	font-weight: 500;
}
.contactForm a {
	text-decoration: none;
}
.contactForm .checkbox {
	width: 16px;
	height: 16px;
	float: left;
}
.contactForm label {
	display: inline-block;
	margin-bottom: 0rem;
	font-size: 17px;
	color: #5b5b5b;
	padding: 0px 0 0 6px;
	font-weight: 500;
	width: 92%;
	margin-bottom: 20px;
}
.forgot {
	font-size: 17px;
	font-weight: 500;
	text-align: right;
	padding: 15px 0 0 0;
}
.registerForm p {
	margin-bottom: 21px;
}
.boldText {
	font-weight: 700;
	color: #e62d29;
}
/*----------------------------- Resources Content ------------------------------------------*/
.resourceList li {
	padding-bottom: 0px !important;
	background: url(../images/icons/list-icon.png) no-repeat 6px 24px
}
.tips {
	border: 4px solid #e62d29;
	padding: 20px;
	margin: 30px 30px 0 30px;
}
.tips h4 {
	color: #e62d29;
}
.tips h6 {
	font-size: 15px;
	margin: 0 0 4px 0;
	color: #5b5b5b;
}
.tips p {
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 12px;
}
/*------------------------------ Content Pages ------------------------------------------*/
p span.arial_18_458600 {
	font-size: 28px;
	font-weight: 500;
	padding: 0 0 10px 0;
	color: #e62d29;
	line-height: 31px;
	display: block;
}
p.MsoNormal br {
	display: none;
}
.contentPage ul {
	font-size: 17px;
	line-height: 23px;
	list-style-type: disc;
	padding: 5px 0 0px 15px;
	margin-bottom: 0px;
}
.contentPage ul li {
	padding-bottom: 15px;
}
.highlightedContent {
	font-weight: 500;
	color: #e62d29;
	text-align: center;
	font-size: 19px;
}
.highlightedContent span {
	color: #282828;
}
.linkButton {
	color: #f1993a;
	font-weight: 500;
}
/*------------------------------ Templates Page ------------------------------------------*/
.templatesBlock .nav-tabs {
	border-bottom: 5px solid #e62d29;
	width: 100%;
}
.templatesBlock .nav-tabs .nav-item {
	margin: 0 5px 0 0px;
	min-width: 158px;
	text-align: center;
}
.templatesBlock .nav-tabs .nav-link {
	border: 0px solid transparent;
	border-top-left-radius: 0rem;
	border-top-right-radius: 0rem;
	background-color: #f7f8fa;
	color: #282828;
	padding: 15px 20px 14px 20px !important
}
.templatesBlock .nav-tabs .nav-link.active, .templatesBlock .nav-tabs .nav-item.show .nav-link, .templatesBlock .nav-tabs .nav-link:hover, .templatesBlock .nav-tabs .nav-link:focus {
	color: #ffffff;
	background-color: #e62d29;
	border-radius: 0px;
}
.templateThumb {
	padding: 10px;
	width: 100%;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.13);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.13);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.13);
}
.templateName {
	margin-top: 15px;
	font-size: 16px;
	font-weight: 500;
}
.templateSection {
	margin: 40px 0 0 0;
}
.templateSection a {
	color: #282828;
}
.templateSection a:hover {
	color: #e62d29;
}
/*------------------------------ My account Page ------------------------------------------*/
.headerSettingsLinks {
	display: none;
	border: 1px solid #e62d29;
	width: 250px;
	max-width: 250px;
	position: absolute;
	right: 0px;
	z-index: 99;
	background: #fff;
	text-align: left;
	top: 43px;
	border-radius: 10px;
	overflow: hidden;
}
.show.headerSettingsLinks {
	display: block;
}
.myaccountLink:hover .headerSettingsLinks {
	display: block;
}
.settingSection {
	border: 1px solid #e62d29;
}
.settingSection h2 {
	padding: 10px 12px 14px 12px;
}
.settingSection #accordion .card-header a.collapsed, .settingSection #accordion .card-header a {
	background-image: none;
}
.settingSection #accordion .card-header a i {
	float: right;
	padding-top: 4px;
	font-size: 18px;
	color: #f49a37;
}
.settingSection #accordion .card-header a.collapsed i.fa.fa-minus, .settingSection #accordion .card-header a i.fa.fa-plus {
	display: none;
}
.settingSection #accordion .card-header a i.fa.fa-minus, .settingSection #accordion .card-header a.collapsed i.fa.fa-plus {
	display: block;
}
.settingSection #accordion .card {
	padding: 0px;
}
.settingSection #accordion .card-body {
	padding: 0 20px 12px 20px;
}
.settingSection #accordion .card-header {
	padding: 0px;
}
.settingSection #accordion .card-header a {
	color: #282828;
	display: block;
	line-height: 23px;
	padding: 11px 15px 12px 15px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
ul.myaccountList {
	margin-bottom: 0px;
}
.myaccountList li, .headerSettingsLinks li {
	list-style-type: none;
	border-bottom: 2px solid #fef5f5;
}
.myaccountList li:last-child, .headerSettingsLinks li:last-child {
	border-bottom: 0px solid #fef5f5;
}
.myaccountList li a, .headerSettingsLinks li a {
	color: #282828;
	display: block;
	line-height: 23px;
	padding: 11px 15px 12px 15px;
}
.myaccountList li a:hover, .headerSettingsLinks li a:hover, .settingSection #accordion .card-header a:hover {
	background-color: #e62d29;
	color: #ffffff;
}
.acoountRightSection {
	padding-left: 50px;
}
.accountInfo {
	margin-top: 30px;
}
.list {
	padding-top: 15px;
}
.accountInfo .contactForm label {
	padding: 0 0 0 0;
	margin: 0 0 6px 0;
}
.accountInfo .contactForm input, .accountInfo .contactForm select, .accountInfo .contactForm textarea {
	margin-bottom: 14px;
}
.imageLink {
	display: none;
}
i.fa.fa-trash {
	position: absolute;
	font-size: 21px;
	color: #ffffff;
	margin: 10px;
	right: 17px;
}
.accountInfo .templateName {
	margin: 10px 0 15px 0;
}
.mod-form tr.bg84bfd8 {
	background-color: #f1993a;
	color: #ffffff;
}
.mod-form tr {
	border-bottom: 1px solid #fef5f5;
}
.mod-form tr td {
	padding: 10px 10px;
	text-align: left;
}

input.form-control-file {
    height: auto;
    background: none;
    border: none;
    line-height: 30px;
}